@charset "utf-8";
/* a:not([class*=uk-button]):hover, a:active, .color_primary, .color_primary>*, .hover_color_primary:focus, .hover_color_primary:hover, ul.hover_color_primary>li>a:focus, ul.hover_color_primary>li>a:hover {color: #2196f3 !important;} */
.color_primary, .color_primary>*, .hover_color_primary:focus, .hover_color_primary:hover {color: #137fd8 !important;}
.color_primary_dark {color: #1b77bf !important;}
.link a:link, .link a:visited, .link a:focus, .uk-breadcrumb a:link, .uk-breadcrumb a:visited, .uk-breadcrumb a:focus, a.color_primary:hover, a.color_primary:hover>*, .color_primary a:hover {color: #1e87da !important;}

.color_secondary, .color_secondary>*, .hover_color_secondary:focus, .hover_color_secondary:hover, ul.hover_color_secondary>li>a:focus, ul.hover_color_secondary>li>a:hover, nav:not(.bg_white).color_secondary>.uk-button-dropdown>a:hover, nav:not(.bg_white).color_secondary>.uk-button-dropdown>a.active, nav.color_secondary_dark .uk-button-dropdown.uk-open>a, nav.color_secondary_dark .uk-button-dropdown>a:hover {color: #FF9800 !important;}
a.color_secondary:hover, a.color_secondary:hover>*, .color_secondary_dark a:hover, .color_secondary_dark :hover {color: #ec8d00 !important;}
.color_secondary_dark  {color: #ec8d00 !important;}

.bg_hover_white_color_primary:focus, .bg_hover_white_color_primary:hover {color: #2196f3 !important; background-color: white;}
.bg_hover_white_color_secondary:focus, .bg_hover_white_color_secondary:hover {color: #FF9800 !important; background-color: white;}

.bg_primary, .btn_primary, .btn_hover_primary.uk-active, .btn_hover_primary:hover, .hover_bg_primary:hover, .hover_primary li>a:hover, .hover_primary li.uk-active>a, ul.hover_bg_primary>li>a:focus, ul.hover_bg_primary>li>a:hover, .uk-block-primary, .uk-pagination>li.uk-active span, ol.listDecimalRow.badgeRankings>li:before, .monthly-today .monthly-day-number, .monthly .monthly-header-title-date, .monthly .monthly-header-title-date:hover {color: white !important; background-color: #2196f3 !important;}
.bg_secondary, .btn_secondary, .btn_hover_secondary.uk-active, .btn_hover_secondary:hover, .hover_bg_secondary:hover, .hover_secondary li>a:hover, .hover_secondary li.uk-active>a, nav.bg_secondary .uk-dropdown a, ul.hover_bg_secondary>li>a:focus, ul.hover_bg_secondary>li>a:hover, .uk-block-secondary, ol.listDecimalRow.badgeRankings.badgeRankingsSecondary>li:before {color: white !important; background-color: #FF9800 !important;}

.btn_primary:focus, .btn_primary:hover, .btn_primary.selected {background-color: #1e87da !important;}
.btn_secondary:focus, .btn_secondary:hover {background-color: #ec8d00 !important;}

.fontsize li>a {color: #2196f3 !important; border: 1px solid #2196f3;}
.fontsize li.uk-active>a, .fontsize li.uk-open>a, .fontsize li>a:focus, .fontsize li>a:hover {background: #2196f3 !important; border-color: #2196f3; color: white !important;}

.border_primary {border-color: #2196f3;}
.border_secondary {border-color: #FF9800;}

.bg_cover_gradient {background-image: url(../img/blank.gif);}

.monthly .monthly-header-title-date, .monthly .monthly-header-title-date:hover {border: 1px solid #2196f3!important;}
.monthly-event-list .monthly-today .monthly-event-list-date {color: #2196f3; font-weight: bolder;}

.listTabs .uk-list {
  border-top: 1px solid #E5E5E5;
}
.listTabs a {
  line-height: 30px;
  padding: 5px 10px;
}
.uk-nav-side ul a {
  color: #444;
}
.listTabs a:hover, .listTabs .uk-active a,
.nav_side a:hover, .nav_side .uk-active a {
  color: white !important;
  background-color: #2196f3;
  text-decoration: none;
}
.listTabs .uk-grid-divider>li, .listTabs .uk-grid-divider>li:last-child:nth-child(odd) {
  border-right: 1px solid #E5E5E5;
}
.listTabs .uk-grid-divider>li:nth-child(even),
.listTabs .uk-grid-divider>li:last-child {
  border-right: 0;
}
.listTabs .uk-grid-divider>li:last-child:nth-child(odd) a {
  border-bottom: 0;
}
.listTabs .uk-nav {
  border: 1px solid #E5E5E5;
  border-bottom: 2px solid #dcdada;
}
.listTabs .uk-nav>li {
  border-bottom: 1px solid #E5E5E5;
}
.listTabs .uk-nav>li:last-child:nth-child(odd) {
  border-bottom: none;
}
.listTabs .uk-nav a {
  color: #2196f3;
  padding: 5px 15px;
}
.listTabs.listIconIndent .uk-nav a {
  padding-left: 35px;
  text-indent: -20px;
}
.listTabs.listIconIndent .uk-nav a span {
  text-indent: 0;
}
.listTabs .uk-nav>li:not(.uk-active):not(.uk-parent)>a, .listTabs .uk-nav>li:not(.level3) li:not(.uk-active):not(.uk-parent)>a, .listTabs .uk-nav>li.level3 li li:not(.uk-active):not(.uk-parent)>a {
  padding-left: 25px;
}
.listTabs .uk-nav>li.uk-open>a,
.nav_side .uk-nav>li.uk-open>a {
  background: #c1ced4  !important;
  color: white !important;
}
.listTabs .uk-active>a,
.listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a,
.listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li.level3 li li>a {
  color: #2196f3 !important;
  background-color: transparent;
}
.listTabs .uk-nav li a:hover,
.listTabs .uk-nav>li.uk-active>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover
.nav_side .uk-nav li a:hover, .nav_side .uk-nav>li.uk-active>a {
  background: #2196f3;
  color: white !important;
}
.listTabs .uk-nav>li.level3 li>a,
.listTabs .uk-nav>li.level3[aria-expanded="true"] li[aria-expanded="true"]>a {
  background: #2196f3;
  color: white !important;
}
.listTabs.listTabs_grey .uk-nav a {
  color: #a9afb1;
}
.listTabs.listTabs_grey .uk-nav li a:hover,
.listTabs.listTabs_grey .uk-nav>li.uk-active>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #cfd8dc;
}
.listTabs.listTabs_secondary .uk-nav a {
  color: #FF9800;
}
.listTabs.listTabs_secondary .uk-nav li a:hover,
.listTabs.listTabs_secondary .uk-nav>li.uk-active>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover
.nav_side.nav_side_secondary .uk-nav li a:hover,
.nav_side.nav_side_secondary .uk-nav>li.uk-active>a {
  background: #FF9800;
}
.listTabs.listTabs_noborder .uk-nav, .listTabs.listTabs_noborder li {
  border: none;
}
.listTabs.listTabs_noborder .uk-nav a, .listTabs.listTabs_noborder .uk-active>a {
  color: inherit !important;
}
.listTabs.listTabs_noborder .uk-nav>li.uk-open>a, .listTabs.listTabs_noborder .uk-active a {
  background: transparent !important;
  color: inherit !important;
}
.listTabs.listTabs_noborder .uk-active>a, .listTabs.listTabs_noborder .uk-active a:hover {
  background: #2196f3 !important;
  color: white !important;
}
.listTabs.listTabs_secondary.listTabs_noborder .uk-active>a, .listTabs.listTabs_noborder .uk-active a:hover {
  background: #FF9800 !important;
}
.listTabs.listTabs_noborder .uk-nav a {
  padding: 5px 15px !important;
}
.listTabs.listTabs_noborder i, .listTabs.listTabs_noborder a:not([class*=small]) {
  font-size: 1.1rem;
}

header.uk-active {box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}
.uk-slideshow>li>.uk-cover-background {height: 350px;}
#chart {margin-top: 10%; margin-bottom: 10% !important;}
#chart svg {transform: scale(1.2);}

input#search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #eaeaea !important;
}

.fc-event, .fc-event-dot {background-color: #2196f3;}
.fc-event {border: none; padding: 0 5px !important;}
.fc-scroller {height: auto !important;}
.fc-unthemed td.fc-today {background: #eaeaea; font-weight: 900;}
@media (max-width:767px) {
.fc-toolbar {flex-wrap: wrap;}
.fc-toolbar>*>* {margin: 5px 0;}
.fc-list-table tr {display: flex;}
.fc-list-table td {display: block; width: auto; flex: 1 1 auto; white-space: normal;}
.fc-center h2 {font-size: 1.5em !important;}
.fc-button {padding: .4em .49em; font-size: .84em !important;}
}

.striped_lightBule.uk-list-striped>li:nth-of-type(odd) {background: #e5f3fb;}

.menuBar nav a.active, .menuBar nav a:hover {
    background: rgba(0, 0, 0, 0.1);
}

#header, #header>:first-child {position: relative;}
#header::before {
  background: url(../img/bg_header.jpg) no-repeat center center;
  background-size: cover;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: .1;
}
#header>:first-child .bg_primary {
  background: transparent !important;
}
.fstElement * {
    font-size: 1rem;
}
.fstControls {
    display: flex;
    -ms-display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.fstElement input {
    max-width: 100%;
    min-width: 200px;
}
.select2-container {
  height: 28px;
}
.select2-container .selection {
  display: block;
}
.select2-container span {
  margin: 0 !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}
.select2-dropdown {
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

footer, footer a {color: white !important;}
footer.bg_darkGrey_dotPattern {
    background: #4477a0 !important;
}

/* Uikit Style
---------------------------------------------------- */

.uk-pagination>.uk-active>span, .uk-pagination>li>a:focus, .uk-pagination>li>a:hover, .uk-nav-dropdown>li>a:focus, .uk-nav-dropdown>li>a:hover, .uk-subnav-pill a:hover, .uk-subnav-pill>.uk-active>*, .uk-tab.tab_primary li.uk-active>a, .uk-tab>li.uk-open>a, .uk-tab>li>a:focus, .uk-tab>li>a:hover {background-color: #2196f3; color: #fff !important;}
.pagination_secondary.uk-pagination>.uk-active>span, .pagination_secondary.uk-pagination>li>a:focus, .pagination_secondary.uk-pagination>li>a:hover, .subnav_secondary.uk-subnav-pill a:hover, .subnav_secondary.uk-subnav-pill>.uk-active>*, .uk-tab.tab_secondary li.uk-active a, .uk-nav.nav_secondary li a:focus , .uk-nav.nav_secondary li a:hover, .uk-nav.nav_secondary li.uk-active a {background-color: #FF9800 !important; color: #fff !important;}
.uk-tab>li>a, .uk-subnav:not(.uk-subnav-pill)>*>:focus, .uk-subnav:not(.uk-subnav-pill)>*>:hover, .uk-subnav:not(.uk-subnav-pill)>.uk-active>*, .uk-subnav:not(.uk-subnav-pill) .uk-open>a {color: #2196f3; transition: none;}

/* End Uikit Style
---------------------------------------------------- */

.uk-nav.nav_secondary li a.btnMore:hover, .uk-nav.nav_secondary li a.btnMore:focus {color: black !important; background-color: white !important; text-decoration: underline !important;}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of Style */

/*uk-small*/
@media (min-width:480px) {
}

/*bs-sm*/
@media (min-width: 576px) {
}

/*uk-medium, bs-md*/
@media (min-width:768px) {
.listTabs .uk-grid-divider.uk-grid-width-medium-1-3>li:nth-child(even) {border-right: 1px solid #E5E5E5;}
}

/*uk-large*/
@media (min-width:960px) {
.listTabs .uk-grid-divider.uk-grid-width-large-1-1>li:nth-child(even) {border-right: 0;}
.bg_primary .max_height:after {background: linear-gradient(to top, #2196f3 85%, rgba(255, 255, 255, 0) 100%);}
.bg_secondary .max_height:after {background: linear-gradient(to top, #FF9800 85%, rgba(255, 255, 255, 0) 100%);}
.menuBar {min-height: 40px;}
.min_height1 {min-height: 328px;}
.min_height2 {min-height: 356px;}
}

/*bs-lg*/
@media (min-width: 992px) {
}

/*bs-xl*/
@media (min-width: 1200px) {
.min_height1 {min-height: 272px;}
.min_height2 {min-height: 284px;}
}

/*uk-xlarge*/
@media (min-width:1220px) {
}

@media (min-width:1350px) {
}

/* Portrait */
@media screen and (orientation:portrait) {
}
/* Landscape */
@media screen and (orientation:landscape) {
}

/* ----------- IE10+ ----------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.height_fixIE {height: 100%;}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
}